.container-c{
  background-color: #FFB6C1;
}

.sub-container-c{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color:white;
  background:#FFB6C1;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height:300px;
  border-bottom: 2px solid;
}
