.container{
  background-color: #20232f;
}

.sub-container{
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color:white;
  background:#20232f;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height:300px;
  border-bottom: 2px solid;
}
