html {
  font-size: 62.5%;
}

body {
  font-family: 'Kanit', sans-serif;
  font-size: 1.6rem;
  background: white;
  cursor: pointer;
}

button{
  cursor: pointer;
}

button:disabled{
  cursor: default;
}
a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}

i {
  margin-right: 20px;
  margin-left: 15px;
  font-size: 20px;
}
